/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* end reset */

/* general rules */
body {
  font-family: "Montserrat", sans-serif;
}

body a {
  text-decoration: none;
}

body ul {
  list-style-type: none;
}
body .container {
  width: 1280px;
  margin: auto;
  height: 100%;
  position:relative;
  padding:0 20px;
}

body .container .col {
  float: left;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/* end general rules */


/* top header  */
body header #topheader {
  background: #f5f8fa;
  border-bottom: 1px solid black;
}

body header #topheader .container .central-content {
  padding: 15px 0;
}

body header #topheader .container .central-content .top-left-logo {
  text-align: left;
  padding: 15px;
}

body header #topheader .container .central-content .top-right-login {
  text-align: right;
  position: absolute;
  left: 73%;
}

body header #topheader .container .central-content  ul.list-top-left li {
  list-style-type: none;
  display: inline-block;
  font-size: 17px;
  color: #33475b;
}

body header #topheader .container .central-content  ul.list-top-left ul.list-language {
  margin-right: 18px;
}

body header #topheader .container .central-content ul.list-top-left .fa-chevron-down {
  border-right: 2px solid #cbd6e2;
  padding-right: 14px;
}

body header #topheader .container .central-content  ul.list-top-right li {
  list-style-type: none;
  display: inline-block;
  font-size: 17px;
  color: #33475b;
}

body header #topheader .container .central-content ul.list-top-right li.log-in-logo {
  border: 1px solid #ff7859;
  border-radius: 5px;
  background: white;
  color: #ff7859;
  padding: 12px 16px;
  font-size: 13px;
  margin:0 15px;
  font-weight: 600;
}

body header #topheader .central-content ul.list-top-right li.orange-button {
  border-radius: 4px;
  background: #ff7859;
  color: white;
  padding: 13px 8px;
  font-size: 13px;
  font-weight: 600;
}
/* end top header */

/* nav menu */

body header #nav-menu .container .central-content {
  padding: 15px 0;
}

body header #nav-menu .container .central-content .logo-hubspot {
 width: 44%;
 padding: 10px;
}

body header #nav-menu .container .central-content .list ul li {
  padding:15px 15px;
  display: inline-block;
  font-size: 16px;
}

body header #nav-menu .container .central-content  li i {
  padding:0 15px;
}
/* end navi menu */

/* jumbotron */

body header #jumbotron {
  background-color: #fff5ef;
  height: 542px;
  background-size: 79%;
  background-position: 79%;
  background-repeat: no-repeat;
  background-image: url(../img/jumbotron.png);
  background-position-y: 24%;
}

body header #jumbotron .container .jumbotron-text {
  width: 700px;
}

body header #jumbotron .container .jumbotron-text {
  text-align: left;
  color: #33465b;
  position: absolute;
  top: 15%;
}

body header #jumbotron .container .jumbotron-text h1 {
  font-size: 66px;
  font-weight: 600;
  padding-bottom: 10px;
}

body header #jumbotron .container .jumbotron-text p {
  padding: 25px 0;
  font-weight: 100;
  font-size: 17px;
  font-weight: 500;
}

body header #jumbotron .container .jumbotron-text a.orange-button {
  border-radius: 4px;
  background: #ff7859;
  color: white;
  padding: 20px 30px;
  font-size: 14px;
  font-weight: 600;
}

body .breaking-row {
  background: #afebe4;
  height: 80px;
  border-top: 3px solid#33465b;
  border-bottom: 3px solid #33465b;
}

main section.upper-section {
  background-color: #f4f9fd;
}
