/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ends reset */

/* general rules */
body {
  font-family: "Montserrat", sans-serif;
  color: #33475b;
}

body a {
  text-decoration: none;
  color: inherit;
}

body i.fa-check-circle {
  color: #ff7759;
}

body ul {
  list-style-type: none;
}

body .popolar-feat {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  padding: 15px 0;
}

body .container {
  width: 1280px;
  margin: auto;
  height: 100%;
  position:relative;
  padding:0 20px;
}

body .container .col {
  float: left;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body .fa-check-circle {
  color: orange;
  margin: 0px 8px 0px 0;
}

.contact-button {
  padding:20px 0px;
}

.contact-button .contact-button-grey {
  border-radius: 8px;
  background: #dfdfdf;
  color: #49596c;
  padding: 12px 7px;
  font-size: 15px;
  padding: 13px 7px;
}

footer {
  color: #cbd6e2;
}

/* ends general rules */

/* top header  */
#topheader {
  background: #f5f8fa;
  border-bottom: 1px solid black;

}

#topheader .central-content {
  padding: 15px 0;
}

#topheader .central-content .top-left-logo {
  text-align: left;
  padding: 15px;
}

#topheader .central-content .top-right-login {
  text-align: right;
  position: absolute;
  left: 73%;
}

#topheader .central-content  ul.list-top-left li {
  list-style-type: none;
  display: inline-block;
  font-size: 17px;
  color: #33475b;
}

#topheader .central-content  ul.list-top-left ul.list-language {
  margin-right: 18px;
}

#topheader .central-content ul.list-top-left .fa-chevron-down {
  border-right: 2px solid #cbd6e2;
  padding-right: 14px;
}

#topheader .central-content  ul.list-top-right li {
  list-style-type: none;
  display: inline-block;
  font-size: 17px;
  color: #33475b;
}

#topheader .central-content ul.list-top-right li.log-in-logo {
  border: 1px solid #ff7859;
  border-radius: 5px;
  background: white;
  color: #ff7859;
  padding: 12px 16px;
  font-size: 13px;
  margin:0 15px;
  font-weight: 600;
}

#topheader .central-content ul.list-top-right li.orange-button {
  border-radius: 4px;
  background: #ff7859;
  color: white;
  padding: 13px 8px;
  font-size: 13px;
  font-weight: 600;
}
/* ends top header */

/* nav menu */
#nav-menu .central-content {
  padding: 15px 0;
}

#nav-menu .central-content .logo-hubspot {
 width: 44%;
 padding: 10px;
}

#nav-menu .central-content .list ul li {
  padding:15px 15px;
  display: inline-block;
  font-size: 16px;
}

#nav-menu .central-content  li i {
  padding:0 15px;
}
/* ends navi menu */

/* jumbotron */
#jumbotron {
  background-color: #fff5ef;
  height: 529px;
  background-repeat: no-repeat;
  background-image: url(../img/jumbotron.png);
  background-position: center;
  background-position-x: 58%;
}

#jumbotron .jumbotron-text {
  text-align: left;
  color: #33465b;
  position: absolute;
  top: 15%;
  width: 700px;
}

#jumbotron .jumbotron-text h1 {
  font-size: 55px;
  font-weight: 600;
  padding-bottom: 10px;
}

#jumbotron .jumbotron-text p {
  padding: 25px 0;
  font-weight: 100;
  font-size: 17px;
  font-weight: 500;
}

#jumbotron .jumbotron-text a.orange-button {
  border-radius: 4px;
  background: #ff7859;
  color: white;
  padding: 20px 30px;
  font-size: 14px;
  font-weight: 600;
}
/* ends jumbotron */

body .breaking-row {
  background: #afebe4;
  height: 80px;
  border-top: 3px solid#33465b;
  border-bottom: 3px solid #33465b;
}

/* main upper section*/
.upper-section {
  background-color: #f4f9fd;
}

.upper-section .upper-pres {
  text-align: center;
  color: #33465b;
  padding: 48px 0;
}

.upper-section .upper-pres .imagecube img {
  width: 20%;
}

.upper-section .upper-pres .text-undercube h2 {
  font-size: 36px;
  font-weight: 600;
  padding: 30px 0;
}

.upper-section .upper-pres .text-undercube p {
  font-size: 20px;
  font-weight: 400;
  padding: 0 45px;
}

.upper-section .up-main-container {
  background: white;
  width: 100%;
  border-radius: 18px;
  border: 1px solid #f2f2f2;
  margin-bottom: 55px;
}

.upper-section .up-main-container .left-main-up-cont {
  text-align: center;
  padding: 65px 55px;
}

.upper-section .up-main-container .left-main-up-cont .image-book img {
  width: 62%;
  padding-bottom: 30px;
}

.upper-section .up-main-container .left-main-up-cont .button-learnmore a.orange-button {
  border-radius: 4px;
  background: #ff7859;
  color: white;
  padding: 20px 30px;
  font-size: 14px;
  font-weight: 600;
}

.upper-section .up-main-container .right-main-up-cont {
  width: 68%;
  padding:45px 0;
}

.upper-section .up-main-container .right-main-up-cont .text-right-up-cont h3 {
  font-size: 25px;
  padding: 25px 0;
}

.upper-section .up-main-container .right-main-up-cont .text-right-up-cont span.popolar-feat {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  padding: 15px 0;
}

.upper-section .up-main-container .right-main-up-cont .text-right-up-cont span hr {
  display: inline-block;
  vertical-align: middle;
  width: 64%;
  border: 1px solid;
  margin-left: 52px;
}

.upper-section .up-main-container .right-main-up-cont .text-right-up-cont p {
  font-size: 18px;
  font-weight: 400;
  padding: 15px 0;
}

.upper-section .up-main-container .right-main-up-cont .text-right-up-cont ul li {
  display:inline-block;
  padding: 24px 0;
}

.upper-section .middle-container .column {
  width: 30%;
  text-align: center;
  background: white;
  border: 1px solid #f2f2f2;
  border-radius: 18px;
  margin-bottom: 50px;
}

.upper-section .middle-container .column:nth-child(2) {
  margin: 0 5%;
}

.upper-section .middle-container .column .marketing-image img {
  height: 146px;
  padding: 19px;
}

.upper-section .middle-container .column .text {
  padding: 1px;
}

.upper-section .middle-container .column .text h3 {
  font-size: 23px
}

.upper-section .middle-container .column .text p {
  padding: 29px;
  font-weight: 500;
}

.upper-section .middle-container .column hr {
  margin: 21px 46px;
  border: 1px solid;
}

.upper-section .middle-container .column ul.pop-feat-list {
  padding: 35px;
}

.upper-section .middle-container .column ul.pop-feat-list li {
  text-align: left;
}

.upper-section .middle-container .column .button-learnmore {
  padding-bottom: 23px;
}

.upper-section .middle-container .column .button-learnmore a.orange-button {
  border-radius: 4px;
  background: #ff7859;
  color: white;
  padding: 20px 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}
/* ends main upper section */

/* lower-section */
.lower-section {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

/* main content */
.lower-section .main-content {
  padding: 60px 0;
}

.lower-section .main-content .text-content {
  text-align: center;
  padding: 50px 0px;
  color: white;
}

.lower-section .main-content .text-content h2 {
  font-size: 30px;
  margin:18px 0;
}

.lower-section .main-content .text-content p {
  font-size: 18px;
  margin: 18px 0;
}

/* grid */
.lower-section .main-content .grid-content {
  padding: 30px;
  width: 24%;
  text-align: center;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: inline-block;
}

.lower-section .main-content .grid-content:nth-child(n+5) {
  border-bottom: 0;
}

.lower-section .main-content .grid-content:nth-child(4n) {
  border-right: 0;
}

.lower-section .main-content .grid-content .grid-icon {
  margin-bottom: 15px;
}

.lower-section .main-content .grid-content .grid-text {
  color: #fff;
}

.lower-section .main-content .grid-content .grid-text h2 {
  position: relative;
  padding-right: 10px;
  position: relative;
  padding-right: 10px;
  font-size: 46px;
}

.lower-section .main-content .grid-content .grid-text h2::after {
  content: "+";
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}

.lower-section .main-content .grid-content .grid-text p {
  font-size: 12px;
}
/* ends grid */
/* end lower-section */

/* customer section */
.customer-section .content-section {
  padding: 70px 0 0;
}

.customer-section .content-section .content-customers .text {
 width: 24%;
 margin-right: 50px;
}

.customer-section .content-section .content-customers .text h2 {
  font-size: 45px;
}

.customer-section .content-section .content-customers .text p {
  font-size: 19px;
  margin-top: 21px;
}

.customer-section .content-section .content-customers .logo {
 width: 70%;
}

.customer-section .content-section .content-customers .logo .company {
  display: inline-block;
  width: 21%;
}

.customer-section .content-section .content-customers .logo .company img {
  width: 100%;
  vertical-align: middle;
  padding: 16px;
}

.customer-section .bottom-ads {
  padding: 130px 0;
}

.customer-section .bottom-ads .ads-content .col{
  width: 50%;
}

.customer-section .bottom-ads .ads-content .image img {
  width: 28%;
  position: absolute;
  right: 4%;
  bottom: 13%;
}

.customer-section .bottom-ads .ads-content .text h2 {
  font-size: 45px;
}

.customer-section .bottom-ads .ads-content .text p {
  font-size: 19px;
}

.customer-section .bottom-ads .ads-content .text .orange-button {
  padding: 40px 0px;
}

.customer-section .bottom-ads .ads-content .text a.orange-button {
  border-radius: 4px;
  background: #ff7859;
  color: white;
  padding: 20px 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}
/* ends customer section */
/* ends main content */

/* footer */
footer {
  background: #33465b;
  padding: 100px 0 0;
}

footer .footer-nav ul li.column-nav{
  color: white;
  display: inline-block;
  padding: 10px 42px 0px 20px;
}

footer .footer-nav ul li.column-nav span {
  font-size: 20px;
  font-weight: 600;
}

footer .footer-nav ul li.nav-item {
  padding: 10px 0;
}

footer ul.footer-box-list {
  padding: 0;
  display: inline-flex;
}

footer ul.footer-box-list li a i {
  color: #cbd6e2;
  padding: 13px;
}

footer .languages ul.languages-list {
  display:inline-flex;
}

footer .languages {
  padding: 27px 0 16px 0;
  text-align: center;
  border-bottom: 1px solid #cbd6e2;
}

footer .languages ul.languages-list li {
  font-size: 18px;
  padding: 10px;
}

footer ul.vert-list {
  padding: 20px 0px 13px;
}

footer .bottom-header {
  padding: 30px 0;
}

/* ends footer */
