/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* end reset */

/* general rules */
body {
  font-family: "Montserrat", sans-serif;
}

body .container {
  width: 1280px;
  margin: auto;
  height: 100%;
  position:relative;
  padding:0 20px;
}

/* end general rules */

/* top header  */

body #topheader {
  height: 85px;
  background: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
}

body #topheader .navi-top {
 padding-top: 18px;
}

body #topheader .navi-top .top-left-logo {
  float: left;
}

body #topheader .navi-top .top-left-logo i{
 font-size: 18px;
}

body #topheader .navi-top .top-right-login {
  float: right;
}

body #topheader .navi-top ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 17px;
  padding: 3px 10px;
  color: #33475b;
}

body #topheader .navi-top ul .globe-language {
  border-right: 2px solid #cbd6e2;
}

/* NOTE: vorrei fare l icona blu */

 /* body #topheader .top-right-login ul:first-child{
  color: #23afc6;
} */

body #topheader .navi-top ul .log-in-logo {
  border: 1px solid #ff7859;
  border-radius: 5px;
  background: white;
  color: #ff7859;
  padding: 12px 16px;
  font-size: 13px;
  margin:0 15px;
  font-weight: 500;
}

body #topheader .navi-top ul .orange-button {
  border-radius: 4px;
  background: #ff7859;
  color: white;
  padding: 13px 8px;
  font-size: 13px;
  font-weight: 600;
}

/* end topheader */
